// Font colors

$base-font-size: 15px;
$base-font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-color: #666666;

// Background Color 

$primary-color: #3551ad;
$secondary-color: #ff4081;
$light-color: #252525;
$dark-color: #222222;



